<h1>le Show des tâches</h1>

<!-- Should display the task's details (content, date of creation, etc.) and a back-link to the index page. -->
<h2><%= @article.title %></h2>
<p><%= @articles.content %></p>
